#red{
    background-color: red;
}
#magenta{
    background-color: magenta;
}
#gold{
    background-color: gold;
}
#darkorange{
    background-color: darkorange;
}
#navyblue{
    background-color: navy;
}
#purple{
    background-color: purple;
}
#lightgreen{
    background-color: lightgreen;
}
#darkgreen{
    background-color: darkgreen;
}
#black{
    background-color: black;
}
#lightblue{
    background-color: lightblue;
}
#lime{
    background-color: lime;
}
#grey{
    background-color: grey;
}